:root{
    --menu-button-hover: #5f6460;
    --active-menu-button: #1a6e2e;
    --menu-button-color: #355863;
    --base-color: white;
    --base-variant: #e8e9ed;
    --menu-color: #978d8d;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}
.darkmode{
    --menu-button-hover: #5f6460;
    --active-menu-button: #32e95c;
    --menu-button-color: #69a4b5;
    --base-color: #070b1d;
    --base-variant: #101425;
    --menu-color: gray;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--base-color);
}
.menu{
    background-color: var(--menu-color);
    width: min(95%, 1212px);
    height: 10%;
    position: absolute;
    left: 5.1%;
    transform: translateX(-3%);
    top: 1%;
    border-radius: 15px;
}
#theme-switch{
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2.2px;
    right: 5px;
}
#theme-switch svg{
    fill: var(--primary-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

#menuhome{
    color: white;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: min(90%, 100px);
    position: absolute;
    left: 5px;
    top: 3.8px;
}
#menuhome:hover{
    background-color: var(--menu-button-hover);
}

#menugames{
    color: white;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: min(90%, 100px);
    position: absolute;
    left: 119px;
    top: 3.8px;
}
#menugames:hover{
    background-color: var(--menu-button-hover);
}

#menuaboutus{
    color: white;
    border: none;
    border-radius: 15px;
    height: 50px;
    width: min(90%, 100px);
    position: absolute;
    left: 233px;
    top: 3.8px;
}
#menuaboutus:hover{
    background-color: var(--menu-button-hover);
}

.active{
    background-color: var(--active-menu-button);
}
.non-active{
    background-color: var(--menu-button-color);
}
#versiontext{
    color: var(--text-color);
    position: absolute;
    bottom: -15px;
    right: 5px;
}