:root{
    --menu-button-color: #355863;
    --base-color: white;
    --base-variant: #e8e9ed;
    --menu-color: #978d8d;
    --text-color: #111528;
    --secondary-text: #232738;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}
.darkmode{
    --menu-button-color: #69a4b5;
    --base-color: #070b1d;
    --base-variant: #101425;
    --menu-color: gray;
    --text-color: #ffffff;
    --secondary-text: #a4a5b8;
    --primary-color: #3a435d;
    --accent-color: #0071ff;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--base-color);
}
.menu{
    background-color: var(--menu-color);
    width: 99%;
    height: 10%;
    position: absolute;
    left: 1%;
    transform: translateX(-0.5%);
    top: 1%;
    border-radius: 15px;
}
#theme-switch{
    border: none;
    height: 50px;
    width: 50px;
    padding: 0;
    border-radius: 50%;
    background-color: var(--base-variant);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 2.2px;
    right: 5px;
}
#theme-switch svg{
    fill: var(--primary-color);
}
#theme-switch svg:last-child{
    display: none;
}
.darkmode #theme-switch svg:first-child{
    display: none;
}
.darkmode #theme-switch svg:last-child{
    display: block;
}

#menuhome{
    background-color: var(--menu-button-color);
    color: white;
    border: none;
    border-radius: 15px;
    height: 45px;
    width:  100px;
    position: fixed;
    left: 5px;
    top: 3.8px;
}